.section_title {
  text-align: center;
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  padding: 30px 0;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  justify-content: center;
}