@import '../../utils/responsive';

.container {
  @include md {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

}

%btn {
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid #FF6D03;
  cursor: pointer;

  @include md {
    padding: 8px 16px;
    margin: 5px;
    border-radius: 12px;
  }

}

.login {
  @extend %btn;
  color: #FF6D03;
  background: #090F20;
}

.register {
  @extend %btn;
  color: #fff;
  background-color: #FF6D03;
  margin-left: 10px;
}