@import '../../utils/responsive';

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #0D162F;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 280px;
  height: 30px;
  padding: 5px;

  @include md {
    width: 140px;
    height: 20px;
  }
}

.searchIcon {
  margin: 0 5px;
  color: #888;
}

.input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  background: transparent;
  color: #89898A;
}

