@import '../utils/responsive';

.links {
  width: 80%;
  display: flex;
  margin: 30px auto;
  @include md {
    flex-direction: column;
  }

}

.linksBloks {
  width: 240px;
  padding: 15px;
  @include md {
    width: 100%;
  }
}

.linksPart {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  color: #fff;
}

.link {
  text-decoration: none;
  margin-top: 20px;
  color: #a7a7b1
}